/*
Nav
***********************************************************/

.menu-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
    cursor: pointer;
    width: auto;
    width:60px;
    height: 60px;
    background: red;
}


.menu-toggle span {
    font-size: 28px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    visibility: hidden;
    background: rgba(255,255,255,0.9);
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    
}

.menu .show {
   visibility: visible;

}

.menu-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-nav a{
    display: block;
    padding: 8px 0;
    text-decoration: none;
    font-size: 28px;
}